
::-webkit-scrollbar {
  width: 8px;
  height:4px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height:2px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #00ce00;
  border: 0px none #ffffff;
  border-radius: 9px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.top { height: 100px; }
.main { 
background: linear-gradient(0deg, #FFFFFF 0%, #d1d1d1 100%);
position: relative;
color: #fff;  
z-index: 1;
color: #fff;
font-family: arial, sans-serif;
margin: 100px 0;
padding: 10% 10px;
}

.main:before{
  content:  '';
  background: #d1d1d1; 
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0; 
  z-index: -1;
  -webkit-backface-visibility: hidden;
  top: 0;
  transform: skewY(-5deg); 
  transform-origin: 1%;
}

/* .main:after{
  background: #d1d1d1;
  content:  '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0; 
  z-index: -1;
  -webkit-backface-visibility: hidden;
  top: 0;
  transform: skewY(5deg); 
  transform-origin: 1%;
} */

.header{
    text-align: center;
    margin-top:5%;
    font-weight: bolder;
    letter-spacing:9px; 
}

.w3-panel{
  width: 70%;
  margin-left:15%;
  background-color: #FFFFFF;
}
.w3-panel .title{
text-align: left;
font-weight: bold;
color:black;
padding-top:2%;
padding-left: 5%;
letter-spacing:9px; 
font-size: 3em;
text-align: left;
}
.content{
  color:black;
  font-size: 20px;
  text-align: justify;
 padding:5%;
}


  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .topnav {
    overflow: hidden;
    position:sticky;
    top:0;
    width: 100%;
  }
  .bottomnav {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: white;
  }
  
  .topnav a,
  .bottomnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    min-width: 20px;
    transition: box-shadow 1s ease;
  }
  .topnav a i {
    float: left;
    line-height: 20px;
    margin-right: 10px;
    color: #ffffff;
  }
  .bottomnav a {
    color: black;
  }
  .topnav a.active,
  .bottomnav a.active {
    color: red;
  }
  .topnav-right {
    float: right;
    position: relative;
  }
  .bottomnav-left{
      margin-left:40%;
  }
  .bottomnav-left a:hover{
    background-color: #09A603;
    color: white;
  }
  .bottomnav {
    position: static;
    max-width: 900px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  .topnav-right:before {
    position: absolute;
    content: '';
    left: -80px;
    top: 0px;
    border-top: 68px solid #09A603;
    border-left: 80px solid transparent;
  }
  .topnav {
    position: static;
    max-width: 900px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  .topnav-right {
    background:#09A603;
  
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 3%;
  }
  .logo img {
    display: inline-block;
    height: 80px;
    width: auto;
    vertical-align: center;
  }
  
  
  .black-bar {
    position: absolute;
    width: 50%;
    height: 64px;
    background: #09A603;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .modal-content{
      height:80%;
      width:900px;
      margin-left:-20%;
  }
  
  .form-control {
      width:65%;
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
  }
  
  label{
      display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  
  input{
   outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    transition: 0.3s ease;
  }
  
  button{
    outline: none;
    background:#09A603;
    width: 30%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    margin-left:20%;
    margin-top:5%;   
    letter-spacing:5px; 
  
  }
  
  .title1{
      font-weight:bolder;
      margin-top:-35%;
      color:#2A2E33;
      /* display: inline-block; */
      font-family: "Francois One", sans-serif;
      font-size: 3rem;
      line-height: 1.2;
      font-weight:20%;
      /* margin: 0 0 .8rem 0; */
      border-bottom: 4px solid #31d47d;
      width:22.5%;
  }
  
  .title2{
      font-weight:bolder;
      margin-top:-35%;
      color:#2A2E33;
      /* display: inline-block; */
      font-family: "Francois One", sans-serif;
      font-size: 3rem;
      line-height: 1.2;
      font-weight:20%;
      /* margin: 0 0 .8rem 0; */
      border-bottom: 4px solid #31d47d;
      width:24%;
  }
  
  form{
      margin-top:5%;
     
      
  }
  
  .modal-body{
      border-right:50px solid #09A603;
      height:80%;
  }
  
  
  .modal-header{
      border-style:none;
  }
  
  .modal-header .close{
      margin-right:-14%;
      font-size:30px;
  }