::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #00ce00;
  border: 0px none #ffffff;
  border-radius: 9px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* .badge{
  
  margin-left:50px;
}
a{
  text-decoration:none;
}

#notifications.item {
  position: relative;
  cursor: pointer;
}
#notifications.item i {
  margin: 0;
  font-size: 1.5em;
}
#notifications.item > div {
  position: absolute;
  width: 1px;
  left: 50%;
  right: 50%;
  bottom: 0;
  cursor: default;
}
#notifications.item > div > div {
  position: absolute;
  width:300px;  
  left: calc(-1 * 300px / 2);
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
  z-index: 50;
}
#notifications.item > div > div > div {
  position: absolute;
  width: 100%;
  top: 24px;
  background-color: rgb(247, 241, 220);
 
}
#notifications.item > div > div::before {
  position: absolute; 
  content: '';
  top: 0;
  margin: auto;
  z-index: 51;
  left: 0;
  right: 0;
  border-bottom: 25px solid #2BFF2A;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10%;
}
#notifications.item, a:hover {
  background-color:red;
}
#notifications.item:hover > div > div {
  height: 325px;
}


#centeredUselessExampleButton {
  width: 90px;
  height: auto;
  margin-left:70%;
}
#centeredUselessExampleButton > .item {
  border-radius: 50%;
  background-color:rgb(21, 216, 47);
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
#centeredUselessExampleButton > .item i {
  font-size: 30px;
  display: inline-block;
}
.content-wrapper{
  overflow-y:scroll;
  overflow-x:hide;
 
}

.content{
border-bottom: 1px white;
background-color: white;
-webkit-box-shadow: 1px 4px 15px 4px rgba(0,0,0,0.61); 
box-shadow: 1px 2px 5px 2px rgba(230, 227, 227, 0.61);

}

.top{
  border:20px solid #2BFF2A;
} */



/* ////////////////////////////////////// */
.drpdwn {
  z-index:1;
  display: block;
  padding: 4px 8px;
  position: relative;
}
.drpdwn__point{
  border:1px solid white;
  background-color: white;
  border-bottom:10px solid #09A603;
  padding:20px;
  text-decoration: none;
  margin-left:80%;

}
.drpdwn__content {
  display: flex;
  height:0;
  overflow: hidden;
  flex-direction: column;
  padding:0;
  position: absolute;
  top: 100%;
  min-width:50%;
  text-decoration: none;
  margin-left: 45%;
  /* margin-top: 5%; */
}
.drpdwn__content > * {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.015);
  opacity: 0;
  padding: 20px 8px;
  position: relative;
  transition: all .3s ease;
  white-space: nowrap;
  text-decoration: none;
}
.drpdwn__content > *:not(:last-child) {
  margin-bottom: 4px;
}
.drpdwn__content > *:hover {
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.015);
  top: -2px;
  text-decoration:none;
}
.drpdwn:hover > .drpdwn__content {
  -webkit-animation: 0.1s bounceInDown;
          animation: 0.1s bounceInDown;
  display: flex;
  height: auto;
  padding: 8px;
}
.drpdwn:hover > .drpdwn__content > * {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.drpdwn:hover > .drpdwn__content > *:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.drpdwn:hover > .drpdwn__content > *:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.drpdwn:hover > .drpdwn__content > *:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.drpdwn:hover > .drpdwn__content > *:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounceInDown {
  0%,60%,75%,90%,to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3px, 0);
            transform: translate3d(0, 3px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%,60%,75%,90%,to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3px, 0);
            transform: translate3d(0, 3px, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

